.keivanImage {
    border: none;
    /* 1px solid #e9e4d8; */
    padding: 4px;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    clip-path: circle(45% at center);
}

.circleImage {
    border: none;
    padding: 0px;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    clip-path: circle(49% at center);
}

.researchImage {
    border: none;
    padding: 0%;
    float: left margin-right: 0px;
    margin-left: 0px;
    clip-path: circle(49% at center);
}

.sideBarContactInfo {
    line-height: 25px;
}

.heading2 {
    border-bottom: none;
    /*	1px solid #e9e4d8; */
}

.heading2withSub {
    border-bottom: none;
}

.heading2Sub {
    border-bottom: none;
    /*	1px solid #e9e4d8; */
}

.researchSideBarText {
    text-align: left;
}

ul.studiesListItems li {
    padding-bottom: 10px;
}

.imageContainer {
    position: relative;
    text-align: center;
    color: white;
    /*text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;*/
    /*mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);*/
}

.imageContainer2 {
    position: relative;
    text-align: center;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
}

/* Top right text */
.top-right {
    position: absolute;
    font-size: 130%;
    width: 100%;
    font-family: arial, sans-serif;
    font-weight: bold;
    bottom: 0px;
    right: 0px;
    background-color: var(--image-overlay);
    line-height: 130%;
    padding: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*-ms-transform: rotate(-20deg); /* IE 9 */
    /*-webkit-transform: rotate(-20deg); /* Safari 3-8 */
    /*transform: rotate(-20deg);*/
}

/* Responsive text sizing for mobile */
@media (max-width: 1023px) {
    .top-right {
        font-size: 0.7rem;
        padding: 0.3rem 0;
        line-height: 1.2;
    }
}

/* Sticky nav styles are in mainCSS.css */

code {
    background-color: #E3E6E8;
    border-radius: 2px;
    font-family: "Courier New", monospace;
    padding: 0 4px;
}

pre {
    background-color: #2D2D2D;
    border-radius: 2px;
    font-family: "Courier New", monospace;
    padding: 0 4px;
    color: #E3E6E8;
}