.keivanImage {
	border: none; /* 1px solid #e9e4d8; */
    	padding: 4px;
	float: right;
	margin-right: 20px;
	margin-left: 20px;
}

.sideBarContactInfo {
	line-height: 25px;
}

.heading2 {
	border-bottom: none; /*	1px solid #e9e4d8; */
}

.heading2withSub {
	border-bottom: none;
}
.heading2Sub {
	border-bottom: none; /*	1px solid #e9e4d8; */
}

.researchSideBarText {
	text-align: left;
}

ul.studiesListItems  li {
	padding-bottom: 10px;
}
